*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
}

body {
  @include flex-column--start;
  background-color: color("neutral", "background");
  color: color("text", "foreground");
  line-height: line-height("body");
  font-family: font-family("sans");
  @include border--x;
}

img,
picture,
svg {
  display: flex;
  object-fit: cover;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: color("text", "foreground");
  line-height: line-height("title");
  font-weight: inherit;
}

h1 {
  font-size: font-size("8-extra-large");
}

h2 {
  font-size: font-size("6-extra-large");
}

h3 {
  font-size: font-size("4-extra-large");
}

h4 {
  font-size: font-size("2-extra-large");
}

h5 {
  font-size: font-size("extra-large");
}

h6 {
  font-size: font-size("large");
}

p {
  font-family: font-family("sans");
  font-weight: font-weight("regular");
  font-size: font-size("large");
  color: color("text", "muted");
  line-height: line-height("title");
  text-transform: none;
}

a {
  text-decoration: none;
  color: color("text", "foreground");

  &:hover,
  &:focus,
  &:focus-visible,
  &:active {
    color: color("text", "foreground");
  }

  @include media("visible-on-mobile") {
    width: 100%;
}
}

::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
