.cta {
    position: relative;
    width: 100%;
    height: 80vh;

    & > img {
        position: relative;
        z-index: 0;
        aspect-ratio: 16/9;
        width: 100%;
        height: 100%;
    }

    &-cta {
        @include is-absolutely-centered;
        z-index: 20;

        & > h1 {
            font-family: font-family("serif");
            font-weight: font-weight("light") !important;
            color: color("neutral", "background");
            line-height: line-height("title");
            font-size: font-size("12-extra-large");
            text-align: center;
            line-height: line-height("body");
            margin-bottom: spacing("medium");

            @include media("visible-on-mobile") {
                font-size: font-size("10-extra-large") !important;
                text-align: center !important;
            }

            @include media("visible-on-ultra-small") {
                font-size: font-size("7-extra-large") !important;
                text-align: center !important;
            }

            & > p {
                font-family: font-family("serif");
                font-weight: font-weight("light") !important;
                color: color("neutral", "background");
                line-height: line-height("title");
                font-size: font-size("12-extra-large");
                text-align: center;
                line-height: line-height("body");
                margin-bottom: spacing("medium");
    
                @include media("visible-on-mobile") {
                    font-size: font-size("10-extra-large") !important;
                    text-align: center !important;
                }

                @include media("visible-on-ultra-small") {
                    font-size: font-size("7-extra-large") !important;
                    text-align: center !important;
                }
            }
        }

        & > h2 {
            font-family: font-family("sans");
            font-size: font-size("extra-large");
            font-weight: font-weight("light");
            color: color("neutral", "background");
            line-height: line-height("body");
            text-transform: uppercase;
            text-align: center;

            @include media("visible-on-mobile") {
                text-align: center !important;
            }
        }
    }

    &-button {
        @include flex-row--center;
        @include is-absolutely-centered--x;
        z-index: 20;
        bottom: spacing("large");

        @include media("visible-on-mobile") {
            width: 90% !important;
        }

        & > a {
            @include flex-row--center;
        }
    }

    &-overlay {
        @include is-absolutely-centered;
        height: 100%;
        width: 100%;
        z-index: 10;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
    }
}
