.hero {
    @include grid--2;

    @include media("visible-on-mobile") {
        gap: spacing("medium");
    }

    &-cover {
        // background-color: color("neutral", "accent");
        position: relative;

        & > img {
            width: 100%;
            height: 70vh;
            aspect-ratio: 1 / 1;

            @include media("visible-on-mobile") {
                height: 50vh;
            }
        }
    }

    &-content {
        @include flex-column--center;
        gap: spacing("large");
        align-items: flex-start;
        width: 60%;
        margin: 0 auto;

        @include media("visible-on-mobile") {
            width: 100%;
            align-items: flex-start;
        }

        & > h2,
        & > p,
        & > div {
            text-align: left;
        }

        &--buttons {
            @include flex-row--start;
            gap: spacing("small");

            @include media("visible-on-mobile") {
                @include flex-column--center;
                width: 100%;
            }
        }
    }

    &--left {
        & > .hero-cover {
            @include media("visible-on-mobile") {
                order: 1 !important;
            }
        }

        & > .hero-content {
            @include media("visible-on-mobile") {
                order: 2 !important;
            }
        }
    }

    &--invert {
        & > .hero-cover {
            order: 2;
        }

        & > .hero-content {
            order: 1;
        }
    }
}
