.social-proof {
    @include flex-column--center;
    gap: spacing("medium");
    padding: spacing("2-extra-large") 0;

    &--is-testimonial {
        padding: 0 0;
        max-height: fit-content !important;
    }

    & > h2,
    & > h3,
    & > p,
    & > div {
        text-align: left;
        width: 40vw;
        margin: auto;

        @include media("visible-on-mobile") {
            width: 90%;
        }
    }

    &--avatar {
        width: spacing("6-extra-large");
        height: spacing("6-extra-large");
        border-radius: border-radius("full");
    }

    &--info {
        @include flex-column--center;
        gap: spacing("small");

        & > span {
            font-family: font-family("sans");
            font-size: font-size("medium");
            font-weight: font-weight("regular");
            color: color("text", "muted");
            text-transform: uppercase;
        }
    }
}

.is-testimonial-p {
    @include flex-column--center;
    gap: spacing("small");

    & > div > p {
        text-align: center !important;
    }
}
