.team {
    @include flex-column--center;
    gap: spacing("large");
    width: 100vw;
    padding: spacing("6-extra-large") 0;
    background-color: color("neutral", "accent") !important;

    &--pictures {
        @include flex-row--center;
        width: 100%;

        & > div {
            width: spacing("6-extra-large");
            height: spacing("6-extra-large");

            @include media("visible-on-mobile") {
                width: spacing("5-extra-large");
                height: spacing("5-extra-large");
            }

            border-radius: border-radius("full");
            margin: 0 -0.25rem;
            position: relative;
            z-index: 0;

            & > img {
                width: spacing("6-extra-large");
                height: spacing("6-extra-large");

                @include media("visible-on-mobile") {
                    width: spacing("5-extra-large");
                    height: spacing("5-extra-large");
                }

                border-radius: border-radius("full");
                position: relative;
                z-index: 0;
            }
        }
    }

    &--content {
        @include flex-column--center;
        align-items: center;
        gap: spacing("medium");
        width: 25%;

        @include media("visible-on-mobile") {
            width: 90%;
        }

        margin: auto;

        & > div {
            text-align: center;

            @include media("visible-on-mobile") {
                text-align: center !important;
            }

            & > p {
                
                @include media("visible-on-mobile") {
                    text-align: center !important;
                }
            }
        }
    }
}
