.card {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 70vh;

    @include media("visible-on-mobile") {
        height: fit-content;
    }


    &--image {
        position: relative;

        & > img {
            max-height: 70vh;

            @include media("visible-on-mobile") {
                height: 50vh;
            }

            width: 100%;
            aspect-ratio: 1 / 1;
        }

        & > button {
            opacity: 0;
            @include is-absolutely-centered;

            @include media("visible-on-mobile") {
                opacity: 1 !important;
            }
        }
    
        &:hover {
            & > button {
                opacity: 1;
                width: fit-content;
            }
        }
    }

    &--content {
        padding: spacing("small");
        @include flex-row--between;

        & > p {
            font-size: font-size("small");
            font-weight: font-weight("regular");
            text-transform: uppercase;
        }
    }
}