.loader {
    @include flex-row--center;
    width: 100vw;
    height: 100vh;
    @include is-absolutely-centered;
    @include blur--background;

    &--icon {
        animation: spin 1s linear infinite;

        @keyframes spin {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }

        & > svg {
            stroke: color("brand", "primary", "main");
        }
    }
}
